services:
  - type: web
    name: budget-backend
    env: node
    plan: free
    buildCommand: cd server && npm install
    startCommand: cd server && node server.js
    envVars:
      - key: DB_USER
        value: postgres
      - key: DB_PASSWORD
        value: 1234             
      - key: DB_HOST
        value: localhost         
      - key: DB_NAME
        value: postgres
      - key: DB_PORT
        value: 5432
